<%# <link rel="stylesheet" type="text/css" class="__meteor-css__" href="./Resume Builder_files/657f0156991acf433f23c5d9c5d14215899ebe04.css">
<link rel="stylesheet" type="text/css" class="__meteor-css__" href="./Resume Builder_files/1beda5aa73da0fab38ef87ebce335b9ddccbf4b9.css"> %>

<div class="item resumeBuilderStep3 active">
  <ul id="resume_holder">

    <li class="resume_slide template24" style="display: list-item;">
                                                
  
    
    
    
        
        <h1 class="resume_header1">
            Delian Petrov
        </h1>
        <div class="resume_user_info">
         
        <div></div>

        
            <div>(949) 431-6738</div>
         
        
            <div>mail@delianpetrov.com</div>
               
    </div>
        
    

    <!-- END -->
      
    <div class="section section_summary">
        <div class="section_title">Summary</div>
        <section class="section_content">
            <p>Enthusiastic full stack dev ops engineer with a passion for evaluating new technologies and writing concise code. Action oriented and an ambitious problem solver.</p>
        </section>
    </div>
                       
    <!-- [START] EMPLOYMENT -->
    <div class="section section_employment">
        <div class="section_title">Employment History</div> 
        <section class="section_content">
            <div>
                <span class="item_employment_company">SeaStatus Marine Weather</span>
            </div>

            <div>
                <span class="item_employment_jobtitle">Co-Founder &amp; Lead Engineer</span> &nbsp;
                <span class="item_employment_date">
                    <span data-section="employment">June</span> <span data-section="employment">2016</span>   - <span data-section="employment">December</span>  
                <span data-section="employment">2018</span>  
                </span>
            </div>
            
            <div class="item_employment_description">
                <ul><li>Built iOS and Android apps using Ionic Framework 3 (Angular/Typescript) to manage one codebase.</li><li>Aggregated raw data from datasets (NOAA, Darksky, PlanetOS) to populate text and charts.</li><li>Separated client and server logic by hosting a rails application on Google Cloud to create 4+ delayed jobs (in memory for the fastest response time) to fetch data from different datasets; stores the results in Firestore database.</li><li>Used AWS CloudFront (CDN) to cache responses for 1 hour. This means that a popular location will be loaded fast if it has been visited at least once in the last hour.</li><li>Architected subscription model which validates against Apple's and Google's customer receipt object.</li><li>Designed client (app) to subscribe to valueChanges observable on the Firestore database so that data is lazy-loaded.</li><li>Developed firebase nodejs cloud function to schedule push notification report based on user-selected timezone with the help of CRON jobs.</li></ul>
            </div>
            
        </section>
        
        <section class="section_content">
            <div>
                <span class="item_employment_company">Visage Software, Inc.</span>, <span class="item_employment_city">Irvine</span>, <span class="item_employment_state">California</span>
            </div>

            <div>
                <span class="item_employment_jobtitle">Software Engineer</span> &nbsp;
                <span class="item_employment_date">
                    <span data-section="employment">June</span> <span data-section="employment">2016</span>   - <span data-section="employment">December</span>  
                <span data-section="employment">2017</span>  
                </span>
            </div>
            
            <div class="item_employment_description">
                <ul><li>Developed a SASS web app driven by Ruby on Rails on the back-end and KnockoutJs on the front-end.</li><li>Architected server side export using Selenium framework and Saucelabs for stitching multiple browser screenshots because of viewport resolution limitations to deliver a rasterized file. This eliminated any inconsistencies in font/layout rendering caused by different browsers and different operating systems. Leveraged Ruby delayed jobs to ensure proper queuing.</li><li>Evaluated in-house Selenium grid with combination of AWS Docker Containers and AWS Lambda storing assets on S3 Bucket.</li><li>Wrote acceptance tests using perceptual hash library for detecting duplicate multimedia files to verify the integrity of rasterized files from server side export.</li><li>Designed persistent download tracker utilizing pub sub and browser session storage to show file download progress while user navigates from page to page.</li><li>Improved customer workflow by leveraging Zapier to automate the sending of graphic assets to third-party services. Built API to authenticate using BasicAuth strategy over SSL and to save response to create web-hook object.</li><li>Pioneered enterprise solution to map user assets to Google Sheet using custom structure. Parses data using Google Sheets API and updates chart and text assets. Notable client, LinkedIn, uses this solution to generate its State and National workforce reports. Expanded product to LinkedIn UK &amp; India.</li><li>Developed custom SVG shape/polygon editor using FabricJS.</li><li>Experienced in the Agile Scrum process. Worked closely with development team in daily scrum meetings, sprint planning, weekly estimations, code review and weekly pair programming.</li><li>Organized an internal GitHub wiki for knowledge sharing and code integrity. Took pride in writing succinct code mimicking the quality of my superiors.</li></ul>
            </div>
            
        </section>
        
        <section class="section_content">
            <div>
                <span class="item_employment_company">ApplicantLab</span>
            </div>

            <div>
                <span class="item_employment_jobtitle">Ruby on Rails Developer</span> &nbsp;
                <span class="item_employment_date">
                    <span data-section="employment">March</span> <span data-section="employment">2015</span>   - <span data-section="employment">December</span>  
                <span data-section="employment">2015</span>  
                </span>
            </div>
            
            <div class="item_employment_description">
                <ul><li>Setup Google OAUTH 2.0 login functionality using OmniAuth gem.</li><li>Integrated commercial payment gateway to accept PayPal/credit cards using Braintree SDK.</li><li>Developed jQuery scripts to autosave user input.</li><li>Represented startup company in Venture Capitalist check-in meetings.</li></ul>
            </div>
            
        </section>
        
    </div>
    <!-- [END] EMPLOYMENT -->
                             
    <!-- [START] EDUCATION -->
    <div class="section section_education">
        <div class="section_title">Education</div> 
        <section class="section_content">
            <div>
                <span class="item_education_school">University of California, Irvine</span>, <span class="item_education_location">
                  <span class="item_education_city">Irvine</span>,  <span class="item_education_state">California</span> 
                </span>
                
            </div>
            <span>Bachelor of Science, Informatics &amp; Management Minor</span>
            <div class="item_education_completion">
                
                    Graduated  -&nbsp;
                
                
                    June 2015
                 
            </div>

            
        </section>
        
    </div>
    <!-- [END] EDUCATION -->
                                     
    <!-- [START] LANGUAGES -->
        <div class="section section_languages">
        <div class="section_title">Languages</div>
        <section class="section_content">
            <table>
            
                
                <tr class="languages-icon">
                    <td class="item_name">Ruby on Rails</td>
                    <td class="item_value"><i class="fa fa-star "></i><i class="fa fa-star "></i><i class="fa fa-star "></i><i class="fa fa-star "></i><i class="fa fa-star star-opacity"></i></td>
                </tr>
                
            
                
                <tr class="languages-icon">
                    <td class="item_name">Javascript</td>
                    <td class="item_value"><i class="fa fa-star "></i><i class="fa fa-star "></i><i class="fa fa-star "></i><i class="fa fa-star "></i><i class="fa fa-star star-opacity"></i></td>
                </tr>
                
            
                
                <tr class="languages-icon">
                    <td class="item_name">HTML5/CSS3/SCSS</td>
                    <td class="item_value"><i class="fa fa-star "></i><i class="fa fa-star "></i><i class="fa fa-star "></i><i class="fa fa-star "></i><i class="fa fa-star star-opacity"></i></td>
                </tr>
                
            
                
                <tr class="languages-icon">
                    <td class="item_name">Angular</td>
                    <td class="item_value"><i class="fa fa-star "></i><i class="fa fa-star "></i><i class="fa fa-star star-opacity"></i><i class="fa fa-star star-opacity"></i><i class="fa fa-star star-opacity"></i></td>
                </tr>
                
            
                
                <tr class="languages-icon">
                    <td class="item_name">NodeJS</td>
                    <td class="item_value"><i class="fa fa-star "></i><i class="fa fa-star "></i><i class="fa fa-star star-opacity"></i><i class="fa fa-star star-opacity"></i><i class="fa fa-star star-opacity"></i></td>
                </tr>
                
            
            </table>
        </section>
    </div>
                          
        <div class="section section_custom">
            <div class="section_title">Social Media</div>
            <section class="section_content">
                <p><a href="https://delianpetrov.com">https://delianpetrov.com</a></p><p><a href="https://github.com/delian7">https://github.com/delian7</a></p><p><a href="https://linkedin.com/in/delianpetrov">https://linkedin.com/in/delianpetrov</a></p>
            </section>
        </div>
           
  
  
                                            </li>




  </ul>
</div>