<div aria-hidden="true" class="portfolio-modal modal fade" id="applab" role="dialog" data-keyboard="true" tabindex="-1">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>ApplicantLab</h2>
            <hr class="star-primary">
            <%= image_tag "applab_dashboard.png", class: "img-responsive img-centered" %>
            <div class="description">
              <p>
                An interactive, computer-adaptive sequence of exercises that walks MBA applicants through everything they need to do to craft a strong business school applications.
              </p>
              <p>
                <strong>Responsibilities:</strong>
                Full stack Ruby on Rails development responsible for front-end, back-end, testing, and maintenance</p>
              <p>
                <strong>Achievements:</strong>
              </p>
              <ul>
                <li>Setup Google OAUTH 2.0 login functionality using OmniAuth gem</li>
                <li>Integrated commercial payment gateway to accept PayPal/credit cards using Braintree SDK</li>
                <li>Developed jQuery scripts to autosave user input</li>
                <li>Represented startup company in Venture Capitalist check-in meetings</li>
              </ul>
            </div>
            <ul class="list-inline item-details">
              <li>Client:
                <strong>
                  <a href="http://applicantlab.com">ApplicantLab, Inc.</a>
                </strong>
              </li>
              <li>Date:
                <strong>March 2015</strong>
              </li>
              <li>Service:
                <strong>Ruby on Rails Full Stack Web Development</strong>
              </li>
            </ul>
            <button class="btn btn-default" data-dismiss="modal" type="button">
              <i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>