<div aria-hidden="true" class="portfolio-modal modal fade" id="partner_up" role="dialog" data-keyboard="true" tabindex="-1">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Partner Up</h2>
            <hr class="star-primary">
            <%= image_tag "partner_up.png", class: "img-responsive img-centered", alt: "PartnerUp project" %>
            <p>
              Ruby on Rails web application that allows university students to “partner up” through Facebook-like interface and outputs pair programming partnerships to course managers.
            </p>
            <div class="description">
              <p>Responsibilities:</p>
              <ul>
                <li>Wrote code using Test-Driven Development</li>
                <li>Wrote test cases for Capybara and RSpec for unit &amp; regression testing</li>
                <li>Setup MySQL database and Apache Server for Rails environment</li>
                <li>Designed database with Object-Relational Mapping</li>
              </ul>
            </div>

            <ul class="list-inline item-details">
              <li>Client:
                <strong>
                  <a href="http://www.informatics.uci.edu/">University of California, Irvine</a>
                </strong>
              </li>
              <li>Date:
                <strong>September 2014 - June 2015</strong>
              </li>
              <li>Service:
                <strong>Ruby on Rails Development</strong>
              </li>
            </ul>
            <button class="btn btn-default" data-dismiss="modal" type="button">
              <i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
