<div aria-hidden="true" class="portfolio-modal modal fade" id="visage" role="dialog" tabindex="-1">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Visage</h2>
            <hr class="star-primary">
            <%= image_tag "visage_creator.png", class: "img-responsive img-centered", alt: "Visage" %>
            <div class="description">
              <p>
                For content marketers who need to create a lot of visual content, Visage is a design tool that makes on-brand content creation simple.
              </p>
              <p>
                <strong>Responsibilities:</strong>
                Full stack developer utilizing a test-driven development methodology tasked with implementing new features, bug fixes, and quality assurance.
              </p>
              <p>
                <strong>Achievements:</strong>
              </p>
              <ul>
                <li>Architected server side export using Selenium framework and Saucelabs for stitching multiple browser screenshots because of viewport resolution limitations to deliver a rasterized file. This eliminated any inconsistencies in font/layout rendering caused by different browsers and different operating systems. Greatly improved the user experience and reduced number of bugs from previous export process.</li> 
                <li>Evaluated in-house Selenium grid with combination of AWS Docker Containers and AWS Lambda.</li>
                <li>Wrote acceptance tests using perceptual hash library for detecting duplicate multimedia files to verify the integrity  of rasterized files from server side export.</li>
                <li>Designed persistent download tracker utilizing PusherJS Pub/Sub library and browser session storage to show file  download progress while user navigates from page to page.</li>
                <li>Improved customer workflow by leveraging Zapier to automate the sending of graphic assets to third-party services. Built  API to authenticate using BasicAuth strategy over SSL and to save response to create webhook object.</li>
                <li>Pioneered enterprise solution to map user assets to Google Sheet using custom structure. Parses data using Google Sheets API and updates chart and text assets. Notable client, LinkedIn, uses this solution to generate its State and National workforce reports. Expanded product to LinkedIn UK.  
                <li>Developed custom SVG shape/polygon editor using FabricJS.</li>
                <li>Experienced in the Agile Scrum process. Worked closely with development team in daily scrum meetings, sprint  planning, weekly estimations, code review and weekly pair programming.</li>
                <li>Organized an internal GitHub wiki for knowledge sharing and code integrity. Took pride in writing succinct code  mimicking the quality of my superiors.</li>
              </ul>
            </div>
            <ul class="list-inline item-details">
              <li>
                <strong>
                  <a href="http://visage.co" target="_blank">Visage.co</a>
                </strong>
              </li>
              <li>Date:
                <strong>June 2016 - Dec. 2017</strong>
              </li>
              <li>
                <strong>
                  <a>Ruby on Rails Full Stack Engineer</a>
                </strong>
              </li>
            </ul>
            <button class="btn btn-default" data-dismiss="modal" type="button">
              <i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>