<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Contact Me</h3>
                    <p><strong>Phone: </strong>(762) 233-5426</p>
                    <p><strong>E-Mail: </strong><span href="mailto:petrovd@uci.edu?Subject=Message from your website">petrovd@uci.edu</p>
                </div>
                <div class="footer-col col-md-offset-4 col-md-4">
                    <h3>Connect With Me</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.linkedin.com/in/delianpetrov" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/delian7" target="_blank" class="btn-social btn-outline"><i class="fa fa-github"></i></a>
                        </li>
                        <li>
                            <a href="https://bitbucket.org/delian7/" target="_blank" class="btn-social btn-outline"><i class="fa fa-bitbucket"></i></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/+DelianPetrov" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                     &copy; <%= Time.now.year %> DelianPetrov - Ruby on Rails Developer
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
